.container {
  background-color: blue;
  /* By default the direction of the flex box is "row" */
  display: flex;
  flex-direction: column;
}
.item {
  width: 80px;
  height: 80px;
  background-color: lightblue;
  text-align: center;
  font-size: 24px;
  margin: 5px;
}
.item:nth-child(even) {
  background-color: brown;
}
.item:nth-child(odd) {
  background-color: blueviolet;
}
